// named.conf.local.j2
zone "example.test" IN {
    type master;
    file "/var/lib/bind/db.example.test";
    allow-update { key "ddns-key"; }; // Permite actualizaciones con la clave [cite: 47]
};

zone "58.168.192.in-addr.arpa" IN { // Zona inversa para 192.168.58.0/24 [cite: 55]
    type master;
    file "/var/lib/bind/db.192";
    allow-update { key "ddns-key"; }; // Permite actualizaciones con la clave [cite: 52]
};