// named.conf.options.j2
options {
    // ... otras opciones ...
};

// Clave para DDNS
{{ tsig_key_output.stdout }}

// Deberías modificar el archivo para que solo contenga el bloque 'key'
// y no el resto de la salida de tsig-keygen [cite: 38, 39, 40]
key "ddns-key" {
    algorithm hmac-sha256;
    secret "CLAVE_EXTRAIDA_AQUI"; // En Ansible esto se maneja con variables/filtros
};